<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529760671049-tbqvrse9upinb51ngmn10q0d18kd7llh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529760671049-tbqvrse9upinb51ngmn10q0d18kd7llh</string>
	<key>API_KEY</key>
	<string>AIzaSyDs9CT6BFRDw3U7NwHgGyR0LrUhZXf0o7E</string>
	<key>GCM_SENDER_ID</key>
	<string>529760671049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Myapp.mynotes</string>
	<key>PROJECT_ID</key>
	<string>my-firflufire</string>
	<key>STORAGE_BUCKET</key>
	<string>my-firflufire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529760671049:ios:7281ac499286f682d0f698</string>
</dict>
</plist>